@model MovieStore.DTOs.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center text-danger">@Model.Name</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2 movie-container text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.Trailer" frameborder="0" allowfullscreen></iframe>
        <div class="col-md-6">
            <h4 class="col-md-6 text-right">
                @Html.DisplayNameFor(model => model.Year)
            </h4>
            <h4 class="col-md-6 text-left text-danger">
                @Html.DisplayFor(model => model.Year)
            </h4>
        </div>
        <div class="col-md-6">
            <h4 class="col-md-6 text-right">
                @Html.DisplayName("Duration")
            </h4>
            <h4 class="col-md-6 text-left text-danger">
                @Html.DisplayFor(model => model.DurationInMinutes) min
            </h4>
        </div>
        <div class="col-md-6">
            <h4 class="col-md-6 text-right">
                @Html.DisplayNameFor(model => model.Size)
            </h4>
            <h4 class="col-md-6 text-left text-danger">
                @Html.DisplayFor(model => model.Size) GB
            </h4>
        </div>
        <div class="col-md-6">
            <h4 class="col-md-6 text-right">
                @Html.DisplayNameFor(model => model.Price)
            </h4>
            <h4 class="col-md-6 text-left text-danger">
                $@Html.DisplayFor(model => model.Price)
            </h4>
        </div>
        <div class="col-md-6">
            <h4 class="col-md-6 text-right">
                @Html.DisplayNameFor(model => model.Country)
            </h4>
            <h4 class="col-md-6 text-left text-danger">
                @Html.DisplayFor(model => model.Country)
            </h4>
        </div>
        <div class="col-md-6">
            <h4 class="col-md-6 text-right">Rating</h4>
            <h4 class="col-md-6 text-left text-danger" id="rating-@Model.Id">
                @{
                    if (Model.Rating != null)
                    {
                        @: @Model.Rating.Value
                    }
                    else
                    {
                        @:0
                    }
                }/10
            </h4>
        </div>

        <div class="col-md-6">
            <h4 class="col-md-6 text-right">

            </h4>
            <h4 class="col-md-6 text-left text-danger">

            </h4>
        </div>
        <div class="col-md-6">
            <h4 class="col-md-6 text-right">
                @Html.ActionLink("Comments", "MovieComments", "Comments", new { id = @Model.Id }, htmlAttributes: null)&raquo;
            </h4>
            <h4 class="col-md-6 text-left text-danger">
                @Html.DisplayFor(model => model.Comments)
            </h4>
        </div>
        <div>
            <h4 class="col-md-3 text-right">
                @Html.DisplayNameFor(model => model.Description)
            </h4>
            <h4 class="col-md-9 text-left text-danger">
                @Html.DisplayFor(model => model.Description)
            </h4>
        </div>
        <div>
            <h4 class="col-md-3 text-right">
                @Html.DisplayNameFor(model => model.Genres)
            </h4>
            <h4 class="col-md-9 text-left text-danger">
                @foreach (var genre in Model.Genres)
                {
                    @Html.DisplayName(genre.Name)
                    @:&nbsp;
                }
            </h4>
        </div>
        <div>
            <h4 class="col-md-3 text-right">
                @Html.DisplayNameFor(model => model.Actors)
            </h4>
            <h4 class="col-md-9 text-left text-danger">
                @foreach (var actor in Model.Actors)
                {
                    @Html.ActionLink(actor.Name, "Index", "Actors")
                    @:&nbsp;
                }
            </h4>
        </div>
    </div>

</div>



<div class="row col-md-8 col-md-offset-2">
    <div class="col-md-2 pull-left">
        
        @Html.ActionLink("Movie Store", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
    </div>
    <div class="col-md-6">
        @if (!this.ViewBag.hasBeenRated)
        {
            @Html.Partial("_RateMoviePartial", @Model.Id)
        }
    </div>
    <div class="col-md-4">          
        @Html.ActionLink("Edit", "Edit","AdminMovies", new {Area ="Administration", id = Model.Id }, htmlAttributes: new { @class = "btn btn-info col-md-4" })
        @if (!this.ViewBag.hasBeenBought)
        {
            @Html.ActionLink("Buy", "BuyMovie", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-danger col-md-5 col-md-offset-2" })
        }
        
    </div>
</div>
