@model MovieStore.DTOs.ViewModels.MovieViewModel


    <div class="row">
        <img class="actor-photo col-md-4" src="@Model.Poster" alt="poster"/>
        <div class="col-md-8">
            <h4 class="col-md-3">Price:</h4>
            <h4 class="col-md-9">$@Html.DisplayFor(m => Model.Price)</h4>
        </div>
        <div class="col-md-8">
            <h4 class="col-md-3">Year:</h4>
            <h4 class="col-md-9">@Html.DisplayFor(m => Model.Year)</h4>
        </div>
        <div class="col-md-8">
            <h4 class="col-md-3">Rating:</h4>
            <h4 class="col-md-9">
                @{
                    if (Model.Rating != null)
                    {
                        @: @string.Format("{0:f2}", Model.Rating.Value)
                    }
                    else
                    {
                        @:0
                    }
                }/10
            </h4>
        </div>

        <div class="col-md-8">
            <h4 class="col-md-3">Genres:</h4>
            <h4 class="col-md-9">
                @foreach (var genre in Model.Genres)
                {
                    @Html.DisplayName(genre.Name)
                    @:&nbsp;
                }
            </h4>
        </div>
    </div>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
    {
        if (this.ViewBag.ActionName == "Delete")
        {
            <h3>@Html.ActionLink("Details", "Details", "Movies", new { Area = "", id = @Model.Id }, null)&raquo;</h3>
        }
        else
        {
            <div class="row">
                <h3 class="col-md-5">@Html.ActionLink("Details", "Details", "Movies", new { Area = "", id = @Model.Id }, null)&raquo;</h3>

                @Html.ActionLink("Edit", "Edit", "AdminMovies", new { Area = "Administration", id = Model.Id }, htmlAttributes: new { @class = "btn btn-info col-md-3", id = "actor-btn" })
                @Html.ActionLink("Delete", "Delete", "AdminMovies", new { Area = "Administration", id = Model.Id }, htmlAttributes: new { @class = "btn btn-info col-md-3" })

            </div>
        }

    }
    else
    {
        <h3>@Html.ActionLink("Details", "Details", "Movies", new { id = @Model.Id }, null)&raquo;</h3>
    }
    <h2 class="text-center text-danger">@Html.DisplayName(Model.Name)</h2>
    

